/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
logs/
composer.lock

# IntelliJ
**/.idea/workspace.xml
**/.idea/tasks.xml
/_ide_helper.php
/_ide_helper_models.php

# May be edited with user specific content
/.idea/copyright/LibreNMS.xml
/.idea/fileTemplates/includes/PHP File Header.php
