# Ignore all dotfiles #
#######################
.*
!/.gitignore
!/.editorconfig
!/.scrutinizer.yml
!/.travis.yml
!/.php_cs
!/.github/

# Others #
##########
/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/logs/
/storage/logs/
composer.lock
/storage/*.sqlite

# IntelliJ
**/.idea
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/config/ide-helper.php
