/vendor
/node_modules
/storage/database.sqlite
Homestead.yaml
Homestead.json
.env
logs/
composer.lock

# IntelliJ
**/.idea
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/config/ide-helper.php
