<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Initial Setup">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Data entry">
            <directory>./tests/db/</directory>
        </testsuite>
        <testsuite name="Users tests">
            <directory>./tests/users/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_DEFAULT" value="testing"/>
        <env name="API_STANDARDS_TREE" value="vnd"/>
        <env name="API_SUBTYPE" value="librenms"/>
        <env name="API_PREFIX" value="api"/>
        <env name="API_VERSION" value="v1"/>
        <env name="API_NAME" value="LibreNMS"/>
        <env name="API_STRICT" value="false"/>
        <env name="API_DEFAULT_FORMAT" value="json"/>
        <env name="API_DEBUG" value="true"/>
        <env name="API_THROTTLE" value="false"/>
    </php>
</phpunit>
