<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Command tests">
            <directory>./tests/commands/</directory>
        </testsuite>
        <testsuite name="Device tests">
            <directory>./tests/devices/</directory>
        </testsuite>
        <testsuite name="Users tests">
            <directory>./tests/users/</directory>
        </testsuite>
        <testsuite name="Settings tests">
            <directory>./tests/settings/</directory>
        </testsuite>
        <testsuite name="General tests">
            <directory>./tests/general/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_DEFAULT" value="testing_sqlite"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
