.logon-logo {
    width: 480px;
    display: block;
    margin: 2px auto 2px auto;
}

.device-icon {
    line-height: 36px !important;
}

td.device-icon {
    padding: 5px !important;
}

td.device-icon img {
    max-height: 36px;
    max-width: 36px;
}

div.device-icon img {
    max-height: 36px;
    max-width: 52px;
}

.device-logo img {
    max-height: 64px;
    max-width: 64px;
}

.device-status {
    display: block;
    font-size: medium;
    margin: 0 3px;
}

#toast-container {
    margin-top: 50px;
}

/* show clear button for search fields */
input[type="search"] {-webkit-appearance: searchfield;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: searchfield-cancel-button;}

/* show remove icons on hover */
i.remove-icon {
    display: none;
}
div.remove-target:hover i.remove-icon {
    display: inline;
}

/* Set user menu height */
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 140px;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    left: 5px !important;
    right: 3px !important;
}

.box.box-solid.box-primary {
    border: 0;
}

/* sortable drag handles */
.draggable, .drag-handle { cursor: move; }
.drag-handle {
    padding-right: 10px;
}

/* disabled inputs */
.tooltip-disabled + .tooltip > .tooltip-inner {background-color: #ec971f;}
.tooltip-disabled + .tooltip.bottom > .tooltip-arrow {border-bottom-color: #ec971f;}
.tooltip-disabled + .tooltip.top > .tooltip-arrow {border-top-color: #ec971f;}
.tooltip-disabled + .tooltip.left > .tooltip-arrow {border-left-color: #ec971f;}
.tooltip-disabled + .tooltip.right > .tooltip-arrow {border-right-color: #ec971f;}
.btn-group.readonly, .sortable.readonly {cursor: not-allowed;}
.btn-group.readonly label.btn {    pointer-events: none;}

/* text input submission feeback */
input {position: relative;}
input + i.fa {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 10;
}
.input-group > input + i.fa {right: 55px;}
label + i.fa-spinner {color:black; margin: 10px;}
/*span + .btn-success {padding-left:8px;}*/


/* sortable submission feedback */
.pulsate {
    -webkit-animation: pulsate 1s infinite alternate;
    -moz-animation: pulsate 1s infinite alternate;
    -animation: pulsate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}
@-webkit-keyframes pulsate {
    from { box-shadow: 0 0 5px #eee; }
    to { box-shadow: 0 0 15px #444; }
}
@-moz-keyframes pulsate {
    from { box-shadow: 0 0 5px #eee; }
    to { box-shadow: 0 0 15px #444; }
}
@keyframes pulsate {
    from { box-shadow: 0 0 5px #eee; }
    to { box-shadow: 0 0 15px #444; }
}

.control-sidebar-bg,
.control-sidebar {
    right: -330px;
    width: 330px;
}

#leaflet-map {
    height: 600px;
}

.resizable-graph {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 40px;
    bottom: 10px;
}
