#toast-container {
    margin-top: 50px;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
}
.drag-handle {
    cursor: move;
    padding-right: 10px;
}

.tooltip-disabled + .tooltip > .tooltip-inner {background-color: #ec971f;}
.tooltip-disabled + .tooltip.bottom > .tooltip-arrow {border-bottom-color: #ec971f;}
.tooltip-disabled + .tooltip.top > .tooltip-arrow {border-top-color: #ec971f;}
.tooltip-disabled + .tooltip.left > .tooltip-arrow {border-left-color: #ec971f;}
.tooltip-disabled + .tooltip.right > .tooltip-arrow {border-right-color: #ec971f;}
.btn-group.readonly, .sortable.readonly {cursor: not-allowed;}
.btn-group.readonly label.btn {    pointer-events: none;}

input + i.fa {
    position: absolute;
    right: 24px;
    top: 10px;
}
label + i.fa-spinner {color:black; margin: 10px;}
input + i.fa-check {color: green;}
input + i.fa-close { color: red; }

.pulsate {
    -webkit-animation: pulsate 1s infinite alternate;
    -moz-animation: pulsate 1s infinite alternate;
    -animation: pulsate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}
@-webkit-keyframes pulsate {
    from { box-shadow: 0 0 5px #eee; }
    to { box-shadow: 0 0 15px #444; }
}
@-moz-keyframes pulsate {
    from { box-shadow: 0 0 5px #eee; }
    to { box-shadow: 0 0 15px #444; }
}
@keyframes pulsate {
    from { box-shadow: 0 0 5px #eee; }
    to { box-shadow: 0 0 15px #444; }
}

.control-sidebar-bg,
.control-sidebar {
    right: -330px;
    width: 330px;
}
